* {
    margin: 0;
    padding: 0;
}

.flex_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 12px;

}

.flex_card__37b0ae{
  background-color: #37b0ae;
   width: 450px;
    height: 600px;
    position: relative;

}
h3{
    position: relative;
    top: -270px;
    left: 40px;
    color: white;
    font-family: 'Montserrat Light', sans-serif;

}
.foto{
    height: 450px;
    width: 100%;
    object-fit: scale-down;
    position: absolute;
    margin-left: -65px;
    z-index: 2;

}

.shadow{
    /*height: 250px;*/
    width: 100%;
    object-fit: scale-down;
    position: relative;
    margin-left: -55px;
    margin-bottom: -290px;
    z-index: 1;
}

.flex_card__white{
    display: block;
    width: 450px;
    height: 700px;
    border: 1px solid black;
    padding-left: 40px;

}
h1{ font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 70px;
    margin-left: 60px;
}
h2{font-size: 16px;
    font-family: 'Montserrat ExtraLight';
     margin-top: 10px;
    margin-left: 60px;
}
h4{font-size: 13px;
    font-family: 'Montserrat ExtraLight';
    margin-top: 40px;
    margin-left: 60px;
}

ul{
    margin-top: 20px;
    margin-left: 70px;

}
li{ font-size: 11px;
    font-family: 'Montserrat SemiBold';
    margin-top: 20px;}
li:last-child{
    margin-bottom: 40px;
}
a.one{
    margin-left: 60px;
}
a{font-size: 11px;
    color: #211d1d;
    font-family: 'Montserrat SemiBold';
    text-decoration: none; /* Отменяем подчеркивание у ссылки */}

a:hover {
    text-decoration: underline #37b0ae;
    font-family: 'Montserrat ExtraLight';
}

p.qu{ font-size: 11px;
    margin-left: 60px;
    margin-top: 30px;
    font-family: 'Montserrat SemiBold';
}

.prise{
    margin-left: 60px;}


.flex_vubor{
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 30px;
    margin-left: 60px;
}

.flex_vubor__-{
      width: 30px;
      height: 30px;
    /*margin-left: 30px;*/
    align-content: center;
    justify-content: center;
  }
.flex_vubor__1{
    width: 30px;
    height: 30px;
    border-top: .1px solid gray;
    border-bottom: .1px solid gray;
   /* text-align: center;*/
    display: flex;
    align-items: center;
    justify-content: center;

}

.flex_vubor__0{
    width:30px;
    height: 30px;
    align-content: center;
    justify-content: center;

}
input.plus{
    width: 30px;
    height: 30px;
}



.flex_knopka{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: -20px;
    margin-top: 15px;
}



.knopka1{
     margin: 0;
     padding: 0;
     width: 180px;
     height: 42px;
   background: #37b0ae;
    border-color: #37b0ae;
    margin-right: -40px;
    font-family: 'Montserrat SemiBold';
 }
.knopka2{
    margin: 0;
    padding: 0;
    width: 180px;
    height: 42px;
    background: white;
    border-color: #37b0ae;
    margin-right: -45px;
    font-family: 'Montserrat SemiBold';
}
span{
    font-size: 14px;
    font-family: 'Montserrat ExtraLight';
}
.prise{
    font-size: 37px;
    margin-right: 10px;
    font-family: 'Montserrat ExtraLight';
}




.flex_picture{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 320px;
    position: relative;
    margin: auto;
    z-index: 2;
    top: -500px;
    left: -25px;
    justify-content: space-between;

}
.flex_picture1{
    width: 100px;
    height: 100px;
    background-color: rgba(252, 252, 252, 0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    margin-bottom: 10px;

}
.flex_picture2{
    width: 100px;
    height: 100px;
    background-color: rgba(252, 252, 252, 0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */

}
.flex_picture3{
    width: 100px;
    height: 100px;
    background-color: rgba(252, 252, 252, 0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    margin-top: 10px;
}

.fotom{
     width: 100%;
 }

.flex_picture1:hover{
    cursor: pointer;
    background-color: rgba(252, 252, 252, 0.95);
    width: 120px;
    height: 120px;
    transition: all 300ms;
    margin-left: -10px;
    margin-bottom: 10px;
}
.flex_picture2:hover{
    cursor: pointer;
    background-color: rgba(252, 252, 252, 0.95);
    width: 120px;
    height: 120px;
    transition: all 300ms;
    margin-left: -10px;

}
.flex_picture3:hover{
    cursor: pointer;
    background-color: rgba(252, 252, 252, 0.95);
    width: 120px;
    height: 120px;
    transition: all 300ms;
    margin-left: -10px;
    margin-top: 10px;
}